
.backdrop {
    position: fixed; /* Use 'fixed' instead of 'absolute' to ensure it stays in view even when scrolling */
    top: 0;
    left: 0;
    height: 100vh; /* Cover the entire viewport height */
    width: 100vw; /* Cover the entire viewport width */
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  