

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D7A4FE;
  border-radius: 25px;
  max-width: 1398px;
  min-height: 500px;
  margin-left: 21px;
  margin-right: 21px;
  overflow: hidden;
  
}
.logo {
  padding-top: 2px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 300px;
  }
}

@media screen and (max-width: 349px) {
  .logo {
    width: 270px;
  }
}
