@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

.navbarContainer {
  min-height: 48px;
  max-width: 1238px;
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 21px;
}

.loginButton {
  font-family: "Bagel Fat One", cursive;
  margin-top: auto;
  font-size: 1.8rem;
  cursor: pointer;
}

.menuButton {
  font-family: "Bagel Fat One", cursive;
  margin-top: auto;
  font-size: 1.8rem;
  cursor: pointer;
}
