.navbarContainer {
  min-height: 48px;
  max-width: 1398px;
  display: flex;
  justify-content: flex-end;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0;
}

.loginButton {
  font-family: "Bagel Fat One", cursive;
  margin-top: auto;
  font-size: 1.8rem;
  cursor: pointer;
}

.menuButton {
  font-family: "Bagel Fat One", cursive;
  margin-top: auto;
  font-size: 1.8rem;
  cursor: pointer;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.cart{
  font-family: "Bagel Fat One", cursive;
  margin-top: auto;
  font-size: 1.8rem;
  cursor: pointer;
}

.cartButton{
  background-color: transparent;
  box-shadow: 0;
  align-self: right;
  padding-right: 15px;
}

 
li:first-child{
  width: 100%;
 }

 ul {
  list-style-type: none;
}