.addToCartButton {
    font-family: "Bagel Fat One", cursive;
    border-radius: 25px;
    background-color: #d7cbfe;
}

.formContainer{
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 1rem;
}

.field{
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    gap: .5rem;
}

input:focus {
    outline: none;
    border-color: black;
}

input {
    border-radius: 20px;
    background-color: #d7cbfe;
    outline: none;
    border-color: #bfbfbf;
    /* Remove 'border: 1rem;' as it's not valid CSS */
    font-family: "Bagel Fat One", cursive;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    font-size: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #D7CBFE inset !important;
    font-family: "Bagel Fat One", cursive;
}

textarea:focus, input:focus{
    outline: none;
    border-color: black;
}

textarea{
    width: 100%;
    min-height: 75px;
    border-radius: 20px;
    background-color: #D7CBFE;
    font-family: "Bagel Fat One", cursive;
    text-align: center;
    color: black;
    resize: none;
    border-color: #bfbfbf;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    font-size: 20px;
}



textarea::-webkit-scrollbar{
    width: 0px;
}

.toastContainer{
    /*display: flex;
  width: 50px;
  height: 50%;
  margin: auto;
  background-color: green;*/
   /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}